.transparent{
    background-color: transparent;
}

.move-table {
    position: relative;
    width: 90%;
    left: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.move-table h2 {
    border-bottom: 0px solid #ffffff;
}

/* SMALL SCREEN */
@media screen and (max-width: 1000px) {
.BigScreen{ 
 display: none;
}
.content{
    width: 90%;
}
.info-table {
    width: 100%;
}

.move-table {
    width: 100%;
    left: 0rem;
}
img{
    max-width: 90%;
}
}

/* MAX SCREEN */
@media screen and (min-width:1001px) {
.SmallScreen{ 
 display:none;
}
.mach{
    min-height: 300px;
}

}